## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
entero=20;
print(entero)

20

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre= "Lautaro"

5) Crear una constante que contenga el número Pi

In [4]:
PI=3.14156

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [ ]:
e = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
t_cadena = 'True'
t_verdad = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(t_cadena))
print(type(t_verdad))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
suma_int_dec=2+2.5

11) Realizar una operación de suma de un número definido como string con un entero

In [15]:
suma_str_int=int("25")+4

29

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [ ]:
e__7=Math.pow(e,3)

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [18]:
num=int(input("Ingresa un numero: "))
print(num*num)

9

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
cociente = 27/4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [29]:
cociente_trunc = int(cociente)
print(cociente_trunc)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
resto=27%4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16. Obtener 27 como resultado

In [30]:
print(cociente_trunc*4+resto)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [31]:
print("2"==2)
# No poseen el mismo tipo de dato

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [32]:
print(int("2")==2)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [35]:
#a=float('3,8') los float deben tener .(punto) en vez de ,(coma)
a=float('3.8')

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
print(2+'2')
# No se permite la suma de enteros con cadenas, 
# Depende de los tipos de datos por ej dos str se concatenan y da 22 y dos int da 4

22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [39]:
menu=['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']
print(menu)

['1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir']

23) Crear una lista que contenga los números del 1 al 10

In [40]:
uno_diez=[1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [46]:
print(menu[len(menu)-2])

3 - Milanesas

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [47]:
menu[2]="3 - Lautaro"

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [51]:
matriz_letras = [['A','B','C'],['D','E','F'],['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [52]:
print(matriz_letras)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [56]:
matriz_letras[1][1] = 'Z'

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [57]:
matriz_letras[0][0] = '1'
matriz_letras[0][1] = '2'
matriz_letras[0][2] = '3'
print(matriz_letras)

[['1', '2', '3'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [59]:
marcas_ropa=("Adidas","Nike","Head","Lacoste","Gucci")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [62]:
print(marcas_ropa[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [64]:
marcas_ropa[1]="Babolat"
#No es posible debido a que las tuplas se mantienen constantes

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [70]:
diccionario={'nombre':'Lautaro',
            'edad':'24',
            'hobbies':'Padel , Comer , Jugar a la compu'}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [71]:
print(diccionario["hobbies"])

Padel , Comer , Jugar a la compu

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [73]:
diccionario["edad"]="25"